.cardHover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardHover:hover {
  transform: translateY(-8px);
}

.imagenEnCard {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
